body{
    font-size: 1.75em;
    font-family: 'Lato', sans-serif;
    margin: 0 10%;
    background-image: url('images/animenight.png');
    background-size: inherit;
    
    background-color: #0e2c41;
    z-index: -1;
}
.outline{
    background-color:#2a3136af;
    box-shadow: 10px 10px 20px 12px;
}
.links{
    display: flex;
    background-color: #00000081;
    background-image: url('images/banner\ profile.png');
    background-size: cover;
    box-shadow: 10px 10px 20px 12px;
    align-items: center;
    justify-content: space-around;
    margin: 0 ;
    font-size: 1.5em;
}
.links a:hover {
    color:#a9a9aa;
}

h1{
    color: rgb(72, 241, 6);
    font-family: Verdana;
    font-weight: bold;
}
h2{
    color: rgb(48, 243, 178);
    font-weight: 600;
}
h3{
    color: #ce8a31;
}

p{
    color: rgb(243, 1, 252);
    font-weight: 300;
    font-size: 1.25em;
}

a{
    color: rgb(139, 240, 7);
    font-family: "Agbalumo", Georgia;
    text-decoration: none;
    transition: all .3s ease;
}

li{
    color:rgb(255, 153, 0)
}
/*sections/divs*/
.summary{
    text-align: center;
    margin-top: 20px;
    /* background-color: #232927f3; */
    padding: auto;
}
.projects,
.about,
.contact{
    text-align: center;
    margin-top: 20px;
    /* background-color: #232927f3; */
    padding: auto;
    
}

.proj-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*quote section*/
.quote{
    text-align: center;
}

.container a:hover {
    color:#ffffff;
}

.proj-gridimg{
    transform: transform 0.3s ease-in-out;
}
.proj-grid img:hover {
    transform: scale(1.1);
}
.proj-grid .image img {
    width: 75%;
    height: 500px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    object-fit: contain;
}
/*Button size*/
#video-container {
    display: none; /* Hide the video container initially */
}

/* falke section*/
.falke a:hover {
    color:#ffffff;
}

.falke img{
    transform: transform 0.3s ease-in-out;
}
.falke img:hover {
    transform: scale(1.1);
}
.falke .image img {
    width: 75%;
    height: 500px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    object-fit: contain;
}

#play-video-btn{
   padding: 10px 20px;
   font-size: 16px;
   background-color: #d8d7d7;
   color: #642626;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

#play-video-btn:hover {
    background-color: #0056b3; /* Change background color on hover */
}

/*footer settings*/

.contact{
    margin-top: auto;
    padding: auto;
    /* background-color: #232927f3; */
    text-align: center;
    font-size: 2.5em;
}

.contact ul {
    list-style-type: none;
    padding: 0;
    
}
.contact li {
    display: inline-block;
    margin: 0 10px;
    padding: auto;
    font-size: .7em;
}

.contact a:hover {
    color:#ffffff;
    
}
.contact p {
      font-size: .75em;
}
.fa {
    font-size: 24px;
    color: #555;
}
/* .test {

        --s: 300px; 
        --c1: #1d1d1d;
        --c2: #4e4f51;
        --c3: #3c3c3c;
        
        background:
          repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
           calc(.5*var(--s)) calc(.5*var(--s)*0.577),
          repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
        background-size: var(--s) calc(var(--s)*0.577);
            
} */



/* Other styles remain unchanged */

/* Responsive design */
@media only screen and (max-width: 767px) {
    .container { padding: 10px; }
}

@media only screen and (max-width: 480px) {
    body { font-size: 0.75rem; }
    h1 { font-size: 0.75rem; }
    p { font-size: 0.75rem; }
    img { margin: auto; padding: auto; }
}


/*stars*/
/* linear-gradient(324deg, #0e2c41 4%,   transparent 4%) -70px 43px,
linear-gradient( 36deg, #0e2c41 4%,   transparent 4%) 30px 43px,
linear-gradient( 72deg, #ffffff 8.5%, transparent 8.5%) 30px 43px,
linear-gradient(288deg, #ffffff 8.5%, transparent 8.5%) -70px 43px,
linear-gradient(216deg, #ffffff 8.5%, transparent 8.5%) -70px 23px,
linear-gradient(144deg, #ffffff 8.5%, transparent 8.5%) 30px 23px,

linear-gradient(324deg, #0e2c41 4%,   transparent 4%) -20px 93px,
linear-gradient( 36deg, #0e2c41 4%,   transparent 4%) 80px 93px,
linear-gradient( 72deg, #ffffff 8.5%, transparent 8.5%) 80px 93px,
linear-gradient(288deg, #ffffff 8.5%, transparent 8.5%) -20px 93px,
linear-gradient(216deg, #ffffff 8.5%, transparent 8.5%) -20px 73px,
linear-gradient(144deg, #ffffff 8.5%, transparent 8.5%) 80px 73px; */